In [ ]:
import pandas as pd
pd.__version__

'2.3.2'

In [10]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [ ]:
#Turn date variables from TEXT to TIMESTAMP
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

#Get DDL from the df
print(pd.io.sql.get_schema(df, name='ny_taxi_data'))

In [23]:
#Import directly to postgresql
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
df.to_sql('ny_taxi_data', engine, if_exists='replace', index=False)

100

In [25]:
#Now that I know it works, let's insert all the data with a DF iterator.
#But first create the table with no rows

df.head(n=0).to_sql('ny_taxi_data', engine, if_exists='replace', index=False)

0

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, dtype = {'store_and_fwd_flag': 'str'})

#I needed to add dtype because store_and_fwd_flag failed to upload. I'll check it later in postgre

In [30]:
from time import time
while True:
	t_start = time()
	df = next(df_iter)
	df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
	df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
	df.to_sql('ny_taxi_data', engine, if_exists='append', index=False)
	t_end = time()
	print(f"Chunk uploaded in {t_end - t_start} seconds")

Chunk uploaded in 12.381611347198486 seconds
Chunk uploaded in 12.494722127914429 seconds
Chunk uploaded in 12.562058925628662 seconds
Chunk uploaded in 12.09700059890747 seconds
Chunk uploaded in 12.311586618423462 seconds
Chunk uploaded in 12.387372493743896 seconds
Chunk uploaded in 12.17118239402771 seconds
Chunk uploaded in 12.21570873260498 seconds
Chunk uploaded in 12.151577711105347 seconds
Chunk uploaded in 12.219759225845337 seconds
Chunk uploaded in 12.8266282081604 seconds
Chunk uploaded in 13.08318018913269 seconds
Chunk uploaded in 10.624035596847534 seconds
Chunk uploaded in 7.334809303283691 seconds

StopIteration: